
data/
duckdb/
docs/
logs/
excel/
.Rhistory
.RData
.Rproj.user/

# Virtual environment
venv/
.venv/
env/
ENV/
__pycache__/
*.pyc
.env


################################
# dbt artifacts
################################
dbt/**/target/
dbt/**/dbt_packages/

################################
# VS Code / OS
################################
.vscode/
.DS_Store
Thumbs.db
